/*////////////////////////////

      colour scheme:

/////////////////////////////*/

$background: #EEE;
$nav-background: #DDD;
$text-color: #244751;
$highlight: #EFF;
$edit: #EFE;
$delete: #FBB;
$hover: #17A2B8;

body {
  background-color: $background;
  color: $text-color;

    main {
      padding: 10px 40px;
      font-size: large;
      width:380px;
    }
    div#map {
      height: 100vh;
      width: 65%;
      float: right;
        form#new-map-form {
          margin: 10px;
            .btn {
              background-color: $highlight;
              border: 1px solid $text-color;
              margin: 5px 0 0 10px;
                &.save-map-btn:hover {
                  background-color: $edit;
                }
                &.cancel-map-btn:hover {
                  background-color: $delete;
                }
            }
        }
    }
}

nav {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 120px;
  padding: 15px;
  background-color: $nav-background;
  border-bottom: 5px solid $text-color;
    .logo {
      height: 80px;
      width: 80px;
      float: left;
    }
    h1 {
      color: $text-color;
      padding-left: 100px;
    }
    .new {
      float: right;
      margin-top: -35px;
      border-radius: 5px;
        &:hover {
          background-color: invert($background);
          color: invert($text-color);
        }
    }
    .login-btn {
      border-radius: 5px;
        &:hover {
          background-color: invert($background);
          color: invert($text-color);
        }
    }
}

#map-title {
  font-weight: bold;
  border: 2px solid $text-color;
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  background: $highlight;
}

.fav-button {
  border-radius: 5px;
    &:hover {
      background-color: invert($background);
      color: invert($text-color);
    }
}

form.info-window {
  border-radius: 5px;
  padding: 5px;
    img {
      height: 110px;
      display: inline;
      }
    .btn {
      background-color: $highlight;
      border: 1px solid $text-color;
      margin: 5px 0 0 10px;
        &.edit:hover {
          background-color: $edit;
        }
        &.delete:hover {
          background-color: $delete;
        }
    }
}

form.new-window {
  padding: 5px;
    .btn {
      background-color: $highlight;
      border: 1px solid $text-color;
      margin: 5px 0 0 10px;
        &:hover {
          background-color: $edit;
        }
    }
}

li:hover {
  cursor: pointer;
  color: $hover;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: $nav-background;
  text-align: center;
}

@media (max-width: 990px) {
  body main {
    padding: 10px 20px;
      #map-title {
        border: none;
        background: none;
      }
      div#map {
        width: 100%;
      }
  }
  nav {
    height: 255px;
      .new {
        margin: 8px 0px;
        display: inline;
      }
  }
  .fav-button {
    width: 175px
  }

}

@media (max-width: 570px) {
  nav {
    height: 340px
  }
  body div#map {
    width: 100%;
    height: 275px;
  }
  .fav-button {
    width: 175px
  }

}


